* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

body {
    margin: 0;
	padding: 0;
}

/* Header */

#topcolorheader {
    position: absolute;
    top: 0;
    background-color: #001122;
    width: 100%;
    height: 30px;
}

.curvyheader {

    z-index: -1;
    width: 100%;
    min-height: 80px;
    max-height: 0px;

}

.navbar {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    --bs-navbar-color: rgb(255, 255, 255);
    --bs-navbar-active-color: rgb(255, 255, 255);
    --bs-navbar-brand-color: rgb(255, 255, 255);
    --bs-navbar-brand-hover-color: #FAE6B1;
}

.navbar-toggler {
    background-color: #FAE6B1;
    position: absolute;
    right: 20px;
}

.nav-link:focus, .nav-link:hover {
    color: #FAE6B1;
}


#container {
    position: relative;
    top: -12vh;
}


/*Blob*/

.blob {
    width: 100%;
	margin: auto;
    left: 0%;
    margin-bottom: -80%;
}


/*360° view*/

#product_viewer {
	width: 100%;
	margin: auto;
    left: 0%;
    margin-top: -1%;

    
}

#product_viewer img {
	display: block;
	width: 100%;

}

/* descrizione */
#descrizione {
    margin-top: 5%;
    /*background-color: #001122;
    color: white;*/
    margin: auto;

}


/* footer*/

footer {
    position: relative;
    bottom: 0;
}

.curvyfooter {
    z-index: -1;
    width: 100%;
    min-height: 80px;
    max-height: 0px;
}

