

* {
  margin: 0 0 0 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



body {
  margin: 0;
  padding: 0;
  visibility: hidden;
}

/* Header*/

#topcolorheader {
  position: absolute;
  top: 0;
  background-color: #001122;
  width: 100%;
  height: 30px;
}

.curvyheader {

  z-index: -1;
  width: 100%;
  min-height: 80px;
  max-height: 0px;

}

.navbar {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  --bs-navbar-color: rgb(255, 255, 255);
  --bs-navbar-active-color: rgb(255, 255, 255);
  --bs-navbar-brand-color: rgb(255, 255, 255);
  --bs-navbar-brand-hover-color: #FAE6B1;
}


.nav-link:focus,
.nav-link:hover {
  color: #FFA101;
}


#container {
  position: relative;
  top: -12vh;

}

@media (min-width: 992px) and (max-width: 1200px) {
  #container {
    top: -7vh;
  }
}

/* menu per cellulare

/*barra filtro*/
#barrafiltro {
  background-color: #001122;
  color: white;
  position: fixed;
  right: -165px;
  top: 0px;
  z-index: 0;
  padding: 0px;
  height: 100%;
  width: 160px;
  z-index: 10;
  transition: transform 700ms cubic-bezier(.81, -0.45, .17, 1.45);
  font-size: 15px !important;

}


#bottonefiltro {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 25pt;
  z-index: 11;
  background-color: white;
  border-radius: 10px;
  padding: 6px;
  display: none;
}

.elementimenu {
  padding: 50px 30px 30px 30px;
  font-size: large;
}

.elementimenu a {
  margin-top: 20px;
  text-decoration: none;
  color: white;
  display: flex;
}

.elementimenu a:active {
  color: #FFA101;
}

.elementimenu img {
  filter: invert();
  width: 40px;
  margin-left: -5px;
}

@media (max-width: 991px) {
  #bottonefiltro {
    display: block;
  }
}

/*Blob*/

.blob {
  width: 100%;
  margin: auto;
  left: 0%;
  margin-bottom: -80%;
}

.turnaroundicon {
  position: absolute;
  font-size: 40px !important;
  color: white;
  background-color: rgba(0, 0, 0, 0.616);
  border-radius: 100%;
  padding: 10px;
  display: none !important;
}

.product_viewer:hover .turnaroundicon {
  display: block !important;
}

/*360° view*/

.product_viewer {
  width: 100%;
  margin: auto;
  left: 0%;
  margin-top: -1%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product_viewer:hover {
  cursor: move;
}

.product_viewer img {
  display: block;
  width: 100%;
}

/* descrizione */
#descrizione {
  margin-top: 5%;
  /*background-color: #001122;
    color: white;*/
  margin: auto;
}

#spacer {
  height: 2vh;
}

.calltoaction {
  font-size: 14pt;
  background-color: #FAE6B1;
  color: #001122;
  border: 2px solid #001122;
  text-transform: uppercase;
  padding: 25px;
  border-radius: 86% 14% 89% 11% / 19% 88% 12% 81%;
  width: fit-content;
  margin: auto;
  display: flex;
  position: relative;
  z-index: 1;
  text-align: center;
}

a.calltoaction {
  text-decoration: none;
}

.calltoaction:hover {
  color: white;
  background-color: #001122;
}





/* footer*/

footer {
  width: 100%;
}

footer svg {
  color: white;
  width: 100%;
  height: 7.5rem;

}


@media (min-width: 991px) {
  footer svg {
    height: auto;
  }

}


footer div {
  color: white;
  margin: -11vh auto auto auto;
  text-align: center;
}


footer img {
  filter: invert();
  -webkit-filter: invert();
}

footer a {
  display: block;
  text-decoration: none;
  color: white;
}

footer a:hover {
  color: #FFA101;
}

.imginstafooter {
  width: 20px;
  height: 20px;
}

@media (max-width: 991px) {
  footer a {
    display: none;
  }

  footer div {
    margin: -5vh auto auto auto;
  }
}

/*cookie*/

#cookie {
  position: fixed;
  bottom: 0;
  padding: 15px;
  background-color: black;
  z-index: 1;
  color: white;
  width: 100%;
  padding-right: 30px;
  
}

#cookiebutton {
  display: inline-block;
  margin: 4px;
  background-color: #FAE6B1;
  color: #001122;
  padding: 5px;
  border-radius: 5px;
}

#cookie a {
  text-decoration: none;
}

#cookiebutton:hover {
  cursor: pointer;
}

#x {
  position: absolute;
  right: 10px;
}

#x:hover {
  cursor: pointer;
}

/*-------------*/
/* GRIGLIA.HTML*/
/*-------------*/

.swiper {
  width: 90%;
  max-width: 1100px;
  height: 90%;
  margin-top: 3vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* scarpe*/

#scarpa1 {
  border-radius: 74% 26% 33% 67% / 38% 30% 70% 62%;
}

#scarpa2 {
  border-radius: 55% 45% 73% 27% / 32% 84% 16% 68%;
}

#scarpa3 {
  border-radius: 72% 28% 78% 22% / 50% 46% 54% 50%;
}

.containergrid {
  margin: 90px 30px 0 30px;
}

.containergrid a{
  margin: 0 5%;
}

.containergrid img:hover {
  transform: scale(1.1);
}

.card-title {
  position: relative;
  text-align: center;
  z-index: 1;
}

.card {
  --bs-card-border-width: 0px;
}


/*--------------*/
/* Prodotto1.HTML*/
/*--------------*/

.containersquares {
  display: flex;
  margin: 0 auto;
}

.col-md-12 .containersquares {
  display: flex;
  justify-content: center;
}

.big-image {
  width: 50vw;
  height: calc(50vw);
  max-width: 400px;
  max-height: calc(400px);
  min-width: 100px;
  min-height: calc(100px);
  border-radius: 20px;
  margin: 0 15px;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .big-image {
    height: 350px;
  }
}

.small-images {
  display: flex;
  flex-direction: column;
  margin-left: 1%;

}

.small-images img {
  border: 2px solid #001122;
  border-radius: 84% 16% 85% 15% / 10% 84% 16% 90%;
  width: 12.5vw;
  height: calc(12.5vw);
  max-width: 100px;
  max-height: calc(100px);
  min-width: 25px;
  min-height: calc(25px);
  margin-bottom: 5%;
}

.small-images img:hover {
  border: 2px solid #FFA101;
}


.small-image:last-child {
  margin-bottom: 0;
}

.form-group {
  width: fit-content;
}

.containerform {
  display: inline-block;
}

label {
  padding-bottom: 5px;
}

.colorsquare {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-top: 20px;
}

.colorsquare:hover {
  cursor: pointer;
}

#black-square {
  background-color: black;
  margin: 0px 10px -10px 10px;
}

#white-square {
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  margin-bottom: -10px;
}

#rosa-square {
  background-color: #ffa18e;
  margin: 0px 10px -10px 10px;
}

#azzurro-square {
  background-color: #8ee1ff;
  margin-bottom: -10px;
}

.buttonview {
  display: inline-block;
  position: relative;
  top: 5px;
  background-color: #FAE6B1;
  text-align: center;
  padding: 5px;
  border-radius: 86% 14% 89% 11% / 19% 88% 12% 81%;
  border: 2px solid #001122;
  margin: 10px 10px 15px 10px;
}

.buttonview:hover {
  cursor: pointer;
}

.Aggiungicarrello {
  width: 20vh;
  background-color: #001122;
  color: white;
  border: 2px solid #001122;
  padding: 10px;
  border-radius: 86% 14% 89% 11% / 19% 88% 12% 81%;
  text-align: center;
  display: inline-block;
  margin-bottom: 40px;

}

a.Aggiungicarrello {
  text-decoration: none;
}

.Aggiungicarrello:hover {
  color: white;
  background-color: #001122;
  cursor: pointer;
}


#foryoumovement {
  text-decoration: none;
}

.fotodacatalogo {
  margin-top: 20px;
  margin-bottom: 25px;
  border-radius: 40px;
}

/* 360 view box */

.viewbox1 {

  height: 60vh;
  width: 80vh;
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  top: 20vh;
  display: none;
  z-index: 2;
}

@media (max-width: 950px) {
  .viewbox1 {
    width: 90%;
    max-height: 30vh;
    min-height: 50vh !important;
  }
}

.viewbox1 span {
  position: absolute;
  right: 12%;
  top: 5%;
  z-index: 1;
  font-size: 40px !important;
  color: white;
  background-color: rgba(0, 0, 0, 0.616);
  border-radius: 100%;
  padding: 10px;
}

.viewbox1 span:hover {
  cursor: pointer;
}


.blackbgmodel {
  position: absolute;
  top: 90%;
  right: 45%;
  margin-right: 20px;
  width: 30px;
  height: 30px;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  z-index: 1;
}

/* 3d viewer google */
model-viewer {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 86% 14% 89% 11% / 19% 88% 12% 81%;

}

.controls {
  position: absolute;
  top: 10%;
  right: 40%;
  z-index: 1;
}


.colorescarpa {
  color: black;
}

.colorescarpa select {
  margin-left: 10px;
}

@keyframes circle {
  from {
    transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg);
  }

  to {
    transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg);
  }
}

@keyframes elongate {
  from {
    transform: translateX(100px);
  }

  to {
    transform: translateX(-100px);
  }
}

model-viewer>#ar-prompt {
  position: absolute;
  left: 50%;
  bottom: 60px;
  animation: elongate 2s infinite ease-in-out alternate;
  display: none;
}

model-viewer[ar-status="session-started"]>#ar-prompt {
  display: block;
}

model-viewer>#ar-prompt>img {
  animation: circle 4s linear infinite;
}


/*-------------*/
/* SCOPRIDIPIU.HTML*/
/*-------------*/

.imgsara img {
  position: absolute;
}

.imgsara img:nth-child(1) {
  width: 200px;
  height: 200px;
  border-radius: 41% 59% 42% 58% / 69% 41% 59% 31%;
  border: px solid #001122;
}

.imgsara img:nth-child(2) {
  position: relative;
  bottom: -100px;
  right: -120px;
  width: 100px;
  height: 100px;
  border: 6px solid rgb(255, 255, 255);
  border-radius: 41% 59% 42% 58% / 69% 41% 59% 31%;
}

.instapic {
position: relative;
top: 100px;
margin: 5px;


}

.instapic img {
width: 25px !important;
height: 25px !important;
position: relative;
}

.instapic:hover {
  color: #FFA101;
}

a.instapic {
  color: black;
  text-decoration: none !important;
  display: block;
}

@media (max-width: 767px) {
  .instapic {
    top: 200px;
    right: 50px;
    margin-top: 20px;
    } 
}

.Descrizioneartista {
  background-color: #FAE6B1;
  padding: 60px 20px 20px 20px;
  border-radius: 85% 15% 84% 16% / 19% 78% 22% 81%;
  border: 2px solid #001122;
}

@media (max-width: 767px) {
  .Descrizioneartista {
    margin-top: 180px;
    }

    .imgsara img:nth-child(2) {
      position: relative;
      bottom: -120px;
      right: -190px;

    }
}

.firma {
  width: 130px;
  height: auto;
  display: block;
  filter: invert(100%);
  -webkit-filter: invert(100%);
  margin: 50px 0px 0px 50px;
}

@media (max-width: 767px) {
  .col-sm-12 .imgsara {
      display: flex;
      justify-content: center;
  }
}


/*-------------*/
/* CARRELLO.HTML*/
/*-------------*/

a.buttoncarrello {
  color: #001122;
  text-decoration: none;
  background-color: #FAE6B1;
  position: relative;
  width: 20vh;
  text-align: center;
  padding: 10px;
  border-radius: 86% 14% 89% 11% / 19% 88% 12% 81%;
  border: 2px solid #001122;
  margin-top: 10px;
  margin-bottom: 40px;
}

a.buttoncarrello:hover {
  background-color: #001122;
  color: white;
}

td {
    text-align: center;
    vertical-align: middle;
}

th {
  width: 500px;
}

thead th {
  text-align: center;
}

table {
  table-layout: auto !important;
}

table th:first-child, table td:first-child {
  width: 0px;
}

td img {
  width: 50px;
  border-radius: 52% 48% 73% 27% / 45% 62% 38% 55%;
  display: block;
  margin: 0 auto;

}

td .form-control {
  width: 60px;
  text-align: center;
  margin: auto;
}


#carouselMultiItemExample {
  margin-top: 7vh;
}


@media (min-width: 992px) {
  .carousel-control-prev-icon, .carousel-control-next-icon {
    display: none;
  }
}