 /*swiper*/
    .swiper {
      width: 80%;

      height: auto;
      margin: auto;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: auto;
      object-fit: cover;
    }


    .swiper-button-prev::after {
        font-family: "Material Symbols Outlined";
        content: "arrow_circle_left";
        color: black;
    }

    .swiper-button-next::after {
        font-family: "Material Symbols Outlined";
        content: "arrow_circle_right";
        color: black;
        
    }

    .swiper-button-next, .swiper-rtl  {
        right: var(--swiper-navigation-sides-offset, 15px);
        left: auto;
    }
    

    .swiper-button-prev, .swiper-rtl .swiper-button-next {
        left: var(--swiper-navigation-sides-offset,15px);
        right: auto;
    }

    /*griglia*/
    #immaginepreview {
        max-width: 150px;
        margin: auto;
        padding: 15px !important;
    }
    
    .product {
        text-align: center;

    }


    #barrafiltro {
      background-color: rgb(102, 219, 184);
      position: fixed;
      height: 100%;
      z-index: 10;
      padding: 15px 15px 15px 25px;
      left: -38%;
      display: block;
      transition: transform 700ms cubic-bezier(.81,-0.45,.17,1.45);

    }


    #bottonefiltro {
      position: relative;
      left: 120%;
      top: 55px;
      font-size: 30pt;
      z-index: 11;
      background-color: white;
      border-radius: 100%;
      padding: 3%;
      border: solid rgb(83, 158, 136) 2px;
      color: rgb(15, 112, 83);
  }

  #bottonefiltro:hover {
    cursor: pointer;
  }